---
import Layout from "../layout/Layout.astro";
import Counter from "../components/Counter.jsx";
---

<Layout>
	<h1>Astro</h1>
	<Counter client:load />
	<br>
	<a href="/pokemon">/Pokemon</a>
</Layout>